
h1{
    /* Layout Properties */
top: 420px;
left: 21px;
width: 884px;
height: 187px;
/* UI Properties */
ext-align: left;
font: normal normal 600 50px/60px Montserrat;
letter-spacing: 0px;
color: #FFB300;
opacity: 1;

    
}
h2 {
    color: #FFB300;
}
.titulovermelho{
    color:#FFB300
}
.tituloazul{
    color:black
}

.sobe {
    /* Layout Properties */
top: 679px;
left: 21px;
width: 883px;
height: 197px;
/* UI Properties */
text-align: left;
font: normal normal 600 21px/34px Montserrat;
letter-spacing: 0px;
color: #000
}
h3 {
    /* Layout Properties */
top: 1117px;
left: 21px;
width: 235px;
height: 42px;
/* UI Properties */
text-align: left;
font: normal normal 900 3opx/44px Montserrat;
letter-spacing: 0px;
color: #FFB300;
opacity: 1;
}


#botão {
    color:red
}